.App {
  align-items: center;
  background-color: #E5E5E5;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-family:
  min-height: 100vh;
}

button {
  align-self: center;
  color: #FFFFFF;
  background-color: #40B25C;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 600;
  padding: 12px 24px;
  width: 8rem;
}

button:hover {
  background-color: #1C6C3E;
}
